html {
background-color: rgb(255 226 226);
height: 100%;
}

body {
margin-left:20%;
margin-right:20%;
min-height: 100%;
padding:24px;
}

aside {
   font-weight: bold;
   margin-left: -274px;
   position: absolute;
   width: 20%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   float: right;
}

nav{
   margin-bottom: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: solid 10px rgb(66, 25, 25);
}

header {
margin-bottom: 5px;

}

p {
font-family: "Georgia","arial","Serif";
font-size: 100%;
}

#Home > header > p{
   font-family: "Georgia","arial","Serif";
   font-size: 100%;
   margin-top:20px;
}

em, cite {
font-style: italic;
}

strong {
font-weight: bold;
}

code {
font-family: "consolas","monospace";
font-size: 90%;
color: rgb(77, 23, 23);
}

a {
color: rgb(114, 26, 26);
font-weight: bold;
text-decoration: none;
}

h1 {
padding-top: 15px;
padding-bottom: 15px;
padding-left: 5px;
margin-left: -10px;
border-bottom: solid 10px rgb(66, 25, 25);
border-top: solid 10px rgb(66, 25, 25);
font-family: "Georgia","Arial","sans-serif";
font-size: 250%;
text-align: center;
}

h2 {
   padding-bottom: 5px;
   font-weight: bold;
   margin-top: 70px;
   margin-bottom: 25px;
   font-family: "Georgia","Arial","sans-serif";
   font-size: 150%;
   text-align: center;
   color: rgb(66, 25, 25);
   border-bottom: solid rgb(66, 25, 25);
   border-bottom-width: 10px;
}

h3 {
   margin-bottom: 5px;
   margin-top: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
   color: black;
   font-family: "Georgia","Arial","sans-serif";
   font-weight: bold;
}

#Topic > header > ul > div{
   font-size:small;
   border: 15px;
}

ul > li {
list-style-type: disc;
margin-left: 45px;
margin-left:10%;
margin-right:10%;
}

ol{
   padding: 10px;
}

ul{
   padding: 10px;
}

ol > li {
   list-style-type:decimal;
   margin-left: 45px;
   margin-left:10%;
   margin-right:10%;
}

ul > ul  {
   list-style-type:circle;
   margin-left:20px;
}

ul > li > ul > li {
list-style: circle;
} 

ul > li > ol > li  {
list-style: decimal;
}

img {
   margin-left: -15%;
   display: block;
   margin-top: -40px;
   margin-bottom: -40px;
   scale: 75%;
}

figcaption{
   font-style: italic;
   padding-bottom: 0px;
   text-align: center;
   margin-right: 10%;
   margin-left: 10%;
   margin-top: -22px;
}